@import '@superflycss/variables-fonts';
@import '@superflycss/variables-layout';
@import '@superflycss/utilities-format';

:root {
    --GherkinAnd-background-color: inherit;
    --GherkinAnd-text-color: inherit;
    --GherkinAnd-background-color: inherit;
    --GherkinAnd-text-color: inherit;
  }
  
  .GherkinAnd {
    @apply(--u-font-weight-500);
    color: var(--GherkinAnd-text-color);
    background-color: var(--GherkinAnd-background-color);
    letter-spacing: 3px;
  }
  
  .GherkinAnd::before {
    content: '\A And';
    white-space: pre;
  }
